//颜色定义规范
$color-theme = #16d6a7
$color-menu = #d9fff5
$color-menu-active = #ffffff
$color-community-background = #eeeeee

//字体定义规范
$font-size-small = 16px //normal size
$font-size-medium = 18px   
$font-size-large = 20px